<footer>
        <div align='middle'>
          <p style="font-size:14px">
            <font face="Helvetica">&nbsp; 2017 Xiaojin (Jim) Liu. All rights reserved.</font>
          </p>
          <br />
          <br />
          <script type="text/javascript"
          src="https://counter7.fcs.ovh/private/counter.js?c=175f5ade0bb1dbc7ee669eff1c409a98"></script>
          <br />
          <a href="https://www.freecounterstat.com"></a>
          <noscript>
            <a href="https://www.freecounterstat.com" title="web counters">
              <img src="https://counter7.fcs.ovh/private/freecounterstat.php?c=175f5ade0bb1dbc7ee669eff1c409a98" border="0"
              title="web counters" alt="web counters" />
            </a>
          </noscript>
        </div>
</footer>